catroidLicenseTest/res/catroidXmlSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Content.Project" type="project" />

  <xs:complexType name="project">
    <xs:sequence>
      <xs:element name="versionName" type="xs:string"/>
      <xs:element name="spriteList" type="spriteList" nillable="true" />
      <xs:element name="deviceName" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="screenResolution" type="xs:string" />
      <xs:element name="versionCode" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="spriteList">
    <xs:sequence>
      <xs:element name="Content.Sprite" type="sprite" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sprite">
    <xs:sequence>
      <xs:element name="costumeDataList" type="costumeDataList" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xs:element name="soundList" type="soundList" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xs:element name="scriptList" type="scriptList" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="spriteRef">
  	<xs:attribute name="reference" type="xs:string"></xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="costumeDataList">
    <xs:sequence>
      <xs:element name="Common.CostumeData" type="costumeData" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="costumeData">
    <xs:sequence>
      <xs:element name="costumeFileName" type="xs:string" minOccurs="0"/>
      <xs:element name="costumeName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="costumeDataRef">
  	<xs:attribute name="reference" type="xs:string"></xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="soundList">
    <xs:sequence>
      <xs:element name="soundInfo" type="soundInfo" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="soundInfo">
    <xs:sequence>
      <xs:element name="soundFileName" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="scriptList">
  	<xs:choice maxOccurs="unbounded" minOccurs="1">
  		<xs:element name="Content.StartScript" type="startScript" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Content.WhenScript" type="whenScript" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Content.BroadcastScript" type="broadcastScript" maxOccurs="unbounded" minOccurs="0" />
  	</xs:choice>
  </xs:complexType>

  <xs:group name="script">
    <xs:sequence>
      <xs:element name="brickList" type="brickList" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
    </xs:sequence>
  </xs:group>
  
  <xs:complexType name="brickList">
  	<xs:choice maxOccurs="unbounded" minOccurs="1">
  		<xs:element name="Bricks.BroadcastBrick" type="broadcastBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.BroadcastReceiverBrick" type="broadcastReceiverBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.BroadcastWaitBrick" type="broadcastWaitBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.ChangeBrightnessBrick" type="changeBrightnessBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.ChangeGhostEffectBrick" type="changeGhostEffectBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.ChangeSizeByNBrick" type="changeSizeByNBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.ChangeVolumeByBrick" type="changeVolumeByBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.ChangeXByBrick" type="changeXByBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.ChangeYByBrick" type="changeYByBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.ClearGraphicEffectBrick" type="clearGraphicEffectBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.ComeToFrontBrick" type="comeToFrontBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.ForeverBrick" type="foreverBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.GlideToBrick" type="glideToBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.GoNStepsBackBrick" type="goNStepsBackBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.HideBrick" type="hideBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.IfOnEdgeBounceBrick" type="ifOnEdgeBounceBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.LoopBeginBrick" type="loopBeginBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.LoopEndBrick" type="loopEndBrickRef" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.MoveNStepsBrick" type="moveNStepsBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.NextCostumeBrick" type="nextCostumeBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.NoteBrick" type="noteBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.NXTMotorActionBrick" type="nxtMotorActionBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.NXTMotorStopBrick" type="nxtMotorStopBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.NXTMotorTurnAngleBrick" type="nxtMotorTurnAngleBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.NXTPlayToneBrick" type="nxtPlayToneBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.PlaceAtBrick" type="placeAtBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.PlaySoundBrick" type="playSoundBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.PointInDirectionBrick" type="pointInDirectionBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.PointToBrick" type="pointToBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.RepeatBrick" type="repeatBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.SetBrightnessBrick" type="setBrightnessBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.SetCostumeBrick" type="setCostumeBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.SetGhostEffectBrick" type="setGhostEffectBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.SetSizeToBrick" type="setSizeToBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.SetVolumeToBrick" type="setVolumeToBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.SetXBrick" type="setXBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.SetYBrick" type="setYBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.ShowBrick" type="showBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.SpeakBrick" type="speakBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.StopAllSoundsBrick" type="stopAllSoundsBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.TurnLeftBrick" type="turnLeftBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.TurnRightBrick" type="turnRightBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.WaitBrick" type="waitBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.WhenBrick" type="whenBrick" maxOccurs="unbounded" minOccurs="0" />
  		<xs:element name="Bricks.WhenStartedBrick" type="whenStartedBrick" maxOccurs="unbounded" minOccurs="0" />
  	</xs:choice>
  </xs:complexType>
  
  <xs:complexType name="startScript">
    <xs:sequence>
      <xs:group ref="script"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="whenScript">
    <xs:sequence>
      <xs:group ref="script"/>
      <xs:element name="action" type="xs:string" minOccurs="0"/>
      <xs:element name="position" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="broadcastScript">
    <xs:sequence>
      <xs:group ref="script"/>
      <xs:element name="broadcastMessage" type="xs:string" minOccurs="0"/>
      <xs:element name="selectedMessage" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="brick" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="broadcastBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
        	<xs:element name="selectedMessage" type="xs:string"
        		minOccurs="0" />
        	<xs:element name="sprite" type="spriteRef" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="broadcastReceiverBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="receiveScript" type="broadcastScript" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="broadcastWaitBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="selectedMessage" type="xs:string" minOccurs="0"/>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="changeBrightnessBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="changeBrightness" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="changeGhostEffectBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="changeGhostEffect" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="changeSizeByNBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="size" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="changeVolumeByBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="volume" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="changeXByBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="xMovement" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="changeYByBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="yMovement" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="clearGraphicEffectBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="comeToFrontBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="foreverBrick">
    <xs:complexContent>
      <xs:extension base="loopBeginBrick">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="loopBeginBrick" abstract="true">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="loopEndBrick" type="loopEndBrick" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

 <xs:complexType name="loopBeginBrickRef">
  	<xs:attribute name="class" type="xs:string"/>
  	<xs:attribute name="reference" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="loopEndBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="loopBeginBrick" type="loopBeginBrickRef" minOccurs="0"/>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="loopEndBrickRef">
  	<xs:attribute name="reference" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="glideToBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="durationInMilliSeconds" type="xs:int"/>
          <xs:element name="xDestination" type="xs:int"/>
          <xs:element name="yDestination" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="goNStepsBackBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="steps" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hideBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ifOnEdgeBounceBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="moveNStepsBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="steps" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="nxtMotorActionBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="speed" type="xs:int"/>
          <xs:element name="motor" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="nxtMotorStopBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="motor" type="xs:int"/>
          <xs:element name="btcHandler" type="handler" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="handler">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="nxtMotorTurnAngleBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="motor" type="xs:int"/>
          <xs:element name="btcHandler" type="handler" minOccurs="0"/>
          <xs:element name="angle" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="nxtPlayToneBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="frequency" type="xs:int"/>
          <xs:element name="duration" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="nextCostumeBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="noteBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="note" type="xs:string" minOccurs="0"/>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="placeAtBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="xPosition" type="xs:int"/>
          <xs:element name="yPosition" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="playSoundBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="soundInfo" type="soundInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="pointInDirectionBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="degrees" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="pointToBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="rotationDegrees" type="xs:double"/>
          <xs:element name="spinnerPosition" type="xs:int"/>
          <xs:element name="pointedSprite" type="sprite" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="repeatBrick">
    <xs:complexContent>
      <xs:extension base="loopBeginBrick">
        <xs:sequence>
          <xs:element name="timesToRepeat" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="setBrightnessBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="brightnessValue" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="setCostumeBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="costumeData" type="costumeDataRef" minOccurs="0"/>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="setGhostEffectBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="ghostEffectValue" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="setSizeToBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="size" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="setVolumeToBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="volume" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="setXBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="xPosition" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="setYBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="yPosition" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="showBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="speakBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="text" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stopAllSoundsBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="turnLeftBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="degrees" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="turnRightBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="degrees" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="waitBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="timeToWaitInMilliSeconds" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="whenBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
          <xs:element name="whenScript" type="whenScript" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="whenStartedBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:sequence>
          <xs:element name="script" type="xs:string" minOccurs="0"/>
          <xs:element name="sprite" type="spriteRef" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>


